/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.containter {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}

.nav-logo {
  height: 40px;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-cart-icon {
  height: 24px;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-right: 80px;
}

.banner-containter {
  margin: 0 auto;
  max-width: 940px;
  height: 496px;
  padding: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-bg-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.product-container {
  margin: 0 auto;
  max-width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  margin-top: -89px;
  margin-bottom: 80px;
}

.product-card {
  height: 256px;
  width: 260px;
  background-color: #3F5D45;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-background {
  height: 420px;
  background-color: #EAF0ED;
  margin-bottom: 105px;
}

.intro-container {
  margin: 0 auto;
  max-width: 1024px;
  height: 420px;
  padding: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.intro-img {
  height: 460px;
  width: 460px;
  z-index: 1;
  margin-top: -20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-content {
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.intro-content-wrapper {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 60px 0;
  font-size: 16px;
  color: #8DA291;
  white-space: nowrap;
}

.intro-content-wrapper li {
  margin-left: 24px;
}
.intro-content-wrapper li:nth-child(3) {
  margin-left: 64px;
}

.intro-title-img {
  margin-top: -30px;
}

/***************************************/
.intro-content-wrapper-2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 60px 0;
  font-size: 15px;
  color: #8DA291;
}

.intro-content-wrapper-2 li {
  margin-right: 24px;
}
.intro-content-wrapper-2 li:nth-child(3) {
  margin-right: 64px;
}

.intro-content-2 {
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}

.intro-container-2 {
  margin: 0 auto;
  max-width: 1024px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

.intro-img-2 {
  height: 460px;
  width: 460px;
  z-index: 1;
  margin-top: -20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 42px;
}

.main-background {
  margin: 0 auto;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.main-img {
  width: 89px;
  height: 328px;
}