.main-background {
    @include w-1024;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-lg;
}

.main-img {
    width: 89px;
    height: 328px;
}

.main-img-sm {
    display: none;
}





@media(max-width:992px) {

    .main-background {
        @include w-375;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $margin-lg;
    }

    .main-img {
        width: 89px;
        height: 328px;
        display: none;
    }

    .main-img-sm {
        display: block;
    }


}