.product-container {
    margin: 0 auto;
    max-width: 780px;
    display: flex;
    gap: 1px;
    margin-top: -89px;
    margin-bottom: 80px;
}


.product-card {
    height: 256px;
    width: 260px;
    background-color: $primary-300;
    writing-mode: vertical-lr;
    font-size: $font-lg;
    color: $neutral;
    display: flex;
    justify-content: center;
    align-items: center;
    // 背景查詢毛玻璃
}

@media(max-width:992px) {

    .product-container {
        @include w-375;
        display: flex;
        justify-content: center;
        gap: 1px;
        margin-bottom: 30px;
    }


    .product-card {
        height: 180px;
        width: 125px;
        background-color: $primary-300;
        writing-mode: vertical-lr;
        font-size: $font-md;
        color: $neutral;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}